[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
psycopg2-binary = "*"
pymongo = "*"
pyjwt = "*"
requests = "*"
flask-cors = "*"
faker = "*"
redis = "*"

[requires]
python_version = "3.13"

[dev-packages]
